{% extends "base.html" %}
{% block title %}Добавить программу{% endblock %}
{% block content %}
<div class="center-content">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h4>Добавить программу</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.description.label(class="form-label") }}
                        {{ form.description(class="form-control", rows=4) }}
                    </div>
                    <div class="mb-3">
                        {{ form.version.label(class="form-label") }}
                        {{ form.version(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.file.label(class="form-label") }}
                        {{ form.file(class="form-control") }}
                    </div>
                    <button type="submit" class="btn btn-success w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}